.privacy_monthly{
	float:left;
	width:965px;
	/*height:1280px;*/
	border:2px;
	padding:0px 0px 0px 0px;
	background-color:#CCC;
	-moz-box-shadow: 0 0 20px 5px #999;
	-webkit-box-shadow: 0 0 20px 5px #999;
}